<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" href="http://localhost:8888/cours/prestashop_1.7.5.1/module/customercomments/addcomment">
      <span class="link-item">
            <i class="material-icons">comment</i>
            Donner mon avis
      </span>
</a>